FullyAutomatedEmailFollowUp.json
{
  "name": "Sales Channel - FollowUpEmailsAutomatedReplies",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        -384
      ],
      "id": "2ce02898-d9b3-4567-bc10-513414ea932b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk",
          "mode": "list",
          "cachedResultName": "SalesChannel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 152163351,
          "mode": "list",
          "cachedResultName": "Follow Up Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit#gid=152163351"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        -384
      ],
      "id": "f183a39c-4370-4bf8-af1e-a3558df2fc50",
      "name": "Get Rows"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "New Lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ccf576e5-4468-45ef-9789-21de8e4f5c5d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdcfa935-c02e-4c69-a1b5-5e73b46aebb0",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Follow 1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca88df2e-b341-4268-a120-0d7e43f213f8",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Follow 2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "77c4b837-1ef5-4fcc-8e0f-b7b98cef4a54",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Follow 3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "68f678e6-fe49-43d4-b647-f105598cb102",
                    "leftValue": "={{ $json.Status }}",
                    "rightValue": "Replied",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        -912
      ],
      "id": "9eb9f928-2bf4-4ba6-bbbc-9d24921a029b",
      "name": "Check Status"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Check Status').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.message }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2080,
        -1440
      ],
      "id": "2833ba55-1bf3-4fe2-8586-107b6c8efb4c",
      "name": "New Lead Email",
      "webhookId": "4f16c937-ccc2-4c97-ba78-990886f969e4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk",
          "mode": "list",
          "cachedResultName": "SalesChannel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 152163351,
          "mode": "list",
          "cachedResultName": "Follow Up Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit#gid=152163351"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Check Status').item.json.Email }}",
            "Status": "Follow 1",
            "Follolw Up Date": "={{ $now.plus({ days: 1 }).toFormat(\"yyyy-LL-dd\") }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Firstname",
              "displayName": "Firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follolw Up Date",
              "displayName": "Follolw Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meaasage ID",
              "displayName": "Meaasage ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2320,
        -1344
      ],
      "id": "069cd858-71ac-41c1-a189-446ff0b8bcb5",
      "name": "Update Status & Next Mail Date"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk",
          "mode": "list",
          "cachedResultName": "SalesChannel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 152163351,
          "mode": "list",
          "cachedResultName": "Follow Up Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit#gid=152163351"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Check Status').item.json.Email }}",
            "Status": "Follow 2",
            "Follolw Up Date": "={{ $now.plus({ days: 2 }).toFormat(\"yyyy-LL-dd\") }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Firstname",
              "displayName": "Firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follolw Up Date",
              "displayName": "Follolw Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        -992
      ],
      "id": "c1eb3949-e57b-4a1a-9428-95f91a07fad8",
      "name": "Update Status & Next Mail Date1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Check Status').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.message }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        -1072
      ],
      "id": "57ccbc44-0efb-4cf1-b53b-d7c26698c2a4",
      "name": "Follow Up 1 EMail",
      "webhookId": "46ed1fe6-21bf-49b5-959b-f50f7b672e2e"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Check Status').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.message }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        -704
      ],
      "id": "85c20dd9-7394-4a14-9a64-cbfe058ca7eb",
      "name": "Follow Up 2 Email",
      "webhookId": "23ef94db-c9f8-4e0e-90a7-bc782c526499"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk",
          "mode": "list",
          "cachedResultName": "SalesChannel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 152163351,
          "mode": "list",
          "cachedResultName": "Follow Up Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit#gid=152163351"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Check Status').item.json.Email }}",
            "Status": "Follow 3",
            "Follolw Up Date": "={{ $now.plus({ days: 3 }).toFormat(\"yyyy-LL-dd\") }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Firstname",
              "displayName": "Firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follolw Up Date",
              "displayName": "Follolw Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        -592
      ],
      "id": "252cfd6d-8121-450d-8cc1-0d068eb7cb97",
      "name": "Update Status & Next Mail Date2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Check Status').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.message }}",
        "options": {
          "appendAttribution": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2096,
        -320
      ],
      "id": "b35ade8c-04d9-4e85-9086-3c878857e097",
      "name": "Follow Up 3 Email",
      "webhookId": "3d18f94b-275d-4133-8e79-4b9380f4b196"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk",
          "mode": "list",
          "cachedResultName": "SalesChannel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 152163351,
          "mode": "list",
          "cachedResultName": "Follow Up Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit#gid=152163351"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Check Status').item.json.Email }}",
            "Status": "Closed"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Firstname",
              "displayName": "Firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follolw Up Date",
              "displayName": "Follolw Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        -224
      ],
      "id": "86d0bf30-3231-45d8-a3fe-5da100d87e3a",
      "name": "Update Status & Next Mail Date3"
    },
    {
      "parameters": {
        "content": "# Email Follow Up",
        "height": 2480,
        "width": 3760,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -1536
      ],
      "typeVersion": 1,
      "id": "c9c12bf0-692a-4fc6-9dd5-0851d3a44447",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# New Lead",
        "height": 96,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        -1328
      ],
      "typeVersion": 1,
      "id": "ff034200-058b-463a-923f-ea1725bc38e7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Follow Up 1",
        "height": 112,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        -976
      ],
      "typeVersion": 1,
      "id": "e0a3ea73-a2d9-47ef-bf5c-bf4ca5026aa2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Follow Up 2",
        "height": 96,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        -592
      ],
      "typeVersion": 1,
      "id": "bca62d7f-0667-4c1b-a93f-925ed59a8898",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Follow Up 3",
        "height": 96,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        -240
      ],
      "typeVersion": 1,
      "id": "97461fa8-d817-4392-8948-4ee5f4a97c8c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Lead Replied",
        "height": 80,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        32
      ],
      "typeVersion": 1,
      "id": "74ff6ac2-11dd-4f5c-809e-eb1ca2993f16",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1008,
        16
      ],
      "id": "d6dbc9a0-c1bb-426a-90cd-abba25dfaafd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Overview\n### This workflow will Automate Email Follow Up system.\n### That's how it will work:\n### - pulls leads from Google Sheets on a schedule,\n### - checks each lead’s status and mail date,\n### - sends the appropriate email (New / Follow Up 1 / 2 / 3) if the lead doesn't reply, \n### - runs a “check reply” to decide if the lead reply or not\n### - If the lead reply, generate an AI reply and mark the lead as Replied.\n### - Try to schedule a 12 minute call with the client, If the client agreed, Then schedule a meeting on Google Calendar, Inform the Client and mark the lead as Appointed.\n\n## Pre-requisite\n### - Google OAuth 2 Credentials \n### - Gmail Credentials\n### - Google sheets Credentials \n### - Google Gemini Credentials\n### - Google Calendar Credentials",
        "height": 528,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -1408
      ],
      "typeVersion": 1,
      "id": "f97ef588-365a-4a5d-8656-b01b85a1a7aa",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Check Reply",
        "height": 96,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        0
      ],
      "typeVersion": 1,
      "id": "6781d6f1-7293-4f88-a352-30d9440a73b7",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60f0166a-8c44-4d0f-a1be-6aaef39ac4cf",
              "leftValue": "={{ $json['Next Mail Date'] }}",
              "rightValue": "={{ $now.toFormat(\"yyyy-LL-dd\") }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        -992
      ],
      "id": "0dc21eed-9080-41b2-9613-0cff3820c3fb",
      "name": "Check Mail Date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60f0166a-8c44-4d0f-a1be-6aaef39ac4cf",
              "leftValue": "={{ $json['Next Mail Date'] }}",
              "rightValue": "={{ $now.toFormat(\"yyyy-LL-dd\") }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        -592
      ],
      "id": "a701ede1-b257-4fa4-affb-fca7d2938fb7",
      "name": "Check Mail Date1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60f0166a-8c44-4d0f-a1be-6aaef39ac4cf",
              "leftValue": "={{ $json['Next Mail Date'] }}",
              "rightValue": "={{ $now.toFormat(\"yyyy-LL-dd\") }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        -256
      ],
      "id": "ef9d50fb-38fe-4916-abb6-4a67ab2b07af",
      "name": "Check Mail Date2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1312,
        -1408
      ],
      "id": "7e788878-52a7-459e-b82c-62b8c04dddb0",
      "name": "Sending Mail Loop"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        -1008
      ],
      "id": "477c9649-c4d5-4998-a303-17ee3387bd38",
      "name": "Sending Mail Loop1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        -608
      ],
      "id": "ecc302d9-0e60-41fe-bc2d-fe3b5aa6fecc",
      "name": "Sending Mail Loop2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        -272
      ],
      "id": "e80e58a9-b09b-46a7-8833-73038169250d",
      "name": "Sending Mail Loop3"
    },
    {
      "parameters": {
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=from:{{ $json.Email }} to:arooba.iqbal@provelopers.net newer_than:1d\n"
            },
            {
              "name": "maxResults",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        128
      ],
      "id": "f618afd7-650a-4617-a2ed-c5946d30246a",
      "name": "Gmail - Search Reply"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d661fe8-6f75-4861-a192-80c6421c0dd3",
              "leftValue": "={{ $('Gmail - Search Reply').item.json.resultSizeEstimate }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        128
      ],
      "id": "3a5159dc-98a5-4330-b1e9-9e5f0224d546",
      "name": "IF There's Reply"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Reply: {{ $json.snippet }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI Email Marketing Agent working for Provelopers. Your role is to analyze incoming emails from furniture business owners, generate professional responses, and instruct the connected tools (Gmail, Google Calendar, Google Sheets) on what actions to take. The ultimate goal is to schedule a 12-minute meeting whenever possible.\n\n## Context\n- Company: Provelopers\n- Target audience: Furniture business owners\n- Goal: Book 12-minute meetings to showcase Provelopers’ AI tools.\n- AI Agent role: Generate the correct next-step instructions for Gmail, Google Calendar, and Google Sheets nodes.\n- The Message ID should be the one outputed by \"Gmail\" tool after it send a reply.\n- Connected tools:\n  - Gmail: send email responses.\n  - Google Calendar Check Availability: check free time slots.\n  - Google Calendar Create Event: create a non-overlapping meeting event.\n  - Google Sheets: update lead status and Message ID.\n\n## Instructions\n1. Read and analyze the incoming user email message.  \n2. Generate a professional, empathetic reply:  \n   - If the user has questions → answer clearly.  \n   - If possible, invite them to a 12-minute meeting.  \n3. If the user agrees to a meeting:  \n   - Instruct the **Google Calendar Check Availability** node to confirm free slots.  \n   - Instruct the **Google Calendar Create Event** node to book the meeting.  \n   - The meeting scheduled time should be according to this specific timezone Washington, DC, USA.\n   - The meeting must be conducted in future day and time from the current time {{ $now }}\n   - The meeting should be conducted on day time.\n   - Instruct the **Gmail** node to send a meeting confirmation email with the calendar invite details.  \n   - Instruct the **Google Sheets** node to update the status as **\"Appointed\"** and update the Message ID outputed by \"Gmail\" Tool after sending mail.\n4. If the user replies but does not agree to a meeting:  \n   - Instruct the **Gmail** node to send a polite response.  \n   - Instruct the **Google Sheets** node to update the status as **\"Replied\"** and update the Message ID  outputed by \"Gmail\" Tool after sending mail.\n5. If the user proposes a time that is unavailable:  \n   - Instruct the **Google Calendar Check Availability** node to find the closest available time slot.  \n   - Suggest the new slot to the user via **Gmail** before finalizing.  \n\n## Tools\n- Gmail (reply to user messages)\n- Google Calendar Check Availability (verify time slots)\n- Google Calendar Create Event (book 12-minute meetings)\n- Google Sheets (update lead status and Message ID)\n\n## Examples\n- Input: \"I’m interested, but how does your AI system actually help my business?\"  \n  Output: Gmail → Send response explaining benefits and suggest a 12-minute meeting.  \n\n- Input: \"Yes, I’d like to see a demo.\"  \n  Output:  \n  - Google Calendar Check Availability → Verify free slots.  \n  - Google Calendar Create Event → Schedule meeting.  \n  - Gmail → Send confirmation email with invite link.  \n  - Google Sheets → Update status to \"Appointed\" and Message ID.  \n\n- Input: \"Not right now, but I appreciate the information.\"  \n  Output:  \n  - Gmail → Send polite follow-up.  \n  - Google Sheets → Update status to \"Replied\" and Message ID.  \n\n## SOP (Standard Operating Procedure)\n1. Analyze incoming user message.  \n2. Draft professional Gmail reply.  \n3. If meeting agreed:  \n   - Check availability in Google Calendar.  \n   - Create meeting event.  \n   - Send Gmail confirmation with invite.  \n   - Update Google Sheets to \"Appointed\" and Message ID.  \n4. If no meeting agreed:  \n   - Send Gmail response.  \n   - Update Google Sheets to \"Replied\" and Message ID.  \n5. If time unavailable:  \n   - Propose closest available alternative via Gmail.  \n\n## Final Notes\n- Always keep responses short, professional, and user-focused.  \n- Never double-book meetings — check availability first.  \n- Always update Google Sheets after replying.  \n- The ultimate goal is to book a 12-minute meeting.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2288,
        512
      ],
      "id": "0aa4ad77-0dc2-4c93-b935-ccecc6a70986",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        -384
      ],
      "id": "75dde9e1-5f36-40ec-8ce5-f8384639551f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json['Message ID'] }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2208,
        768
      ],
      "id": "12142d44-37a2-4069-9514-690f5797a85c",
      "name": "Gmail",
      "webhookId": "f085d25a-82ab-40fc-80b0-60596c2feaaf"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "arooba.iqbal@provelopers.net",
          "mode": "list",
          "cachedResultName": "arooba.iqbal@provelopers.net"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2368,
        768
      ],
      "id": "86b021fc-cff7-48ea-abd1-a50148b57388",
      "name": "Google Calendar Check Availability"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "arooba.iqbal@provelopers.net",
          "mode": "list",
          "cachedResultName": "arooba.iqbal@provelopers.net"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Loop Over Items').item.json.Email }}",
            "arooba.iqbal@provelopers.net"
          ],
          "summary": "=12 Minute Meeting With {{ $('Loop Over Items').item.json['Company Name'] }} "
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2544,
        768
      ],
      "id": "f1dcfb51-4b85-4c0a-918a-d56f9136e917",
      "name": "Google Calendar Create Event"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk",
          "mode": "list",
          "cachedResultName": "SalesChannel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 152163351,
          "mode": "list",
          "cachedResultName": "Follow Up Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tlTjHScL3uEJZr5x3Q-sB3ziU2dspAHMRSLbZYXGsVk/edit#gid=152163351"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Edit Fields1').item.json.Email }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Meaasage ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Meaasage_ID', ``, 'string') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Firstname",
              "displayName": "Firstname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lastname",
              "displayName": "Lastname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follolw Up Date",
              "displayName": "Follolw Up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Meaasage ID",
              "displayName": "Meaasage ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2704,
        768
      ],
      "id": "bc1c80aa-61db-4c06-989a-d54554cb35c9",
      "name": "Google Sheets"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $('Gmail - Search Reply').item.json.messages[0].threadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        288
      ],
      "id": "9c1446de-0d15-4596-b2fb-c53157cd9c0a",
      "name": "Get a thread",
      "webhookId": "7c539a62-8b42-4c1c-8790-42e971168ca2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1024,
        288
      ],
      "id": "d5ee1895-7072-46dd-a6fd-e5a10d8bfd9d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "120d07ee-3c40-4e2f-a438-169ed8fb8d83",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "96266d1a-08a8-4545-b6c8-c0bd001f1329",
              "name": "Message ID",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        288
      ],
      "id": "9c31ddf6-5ed7-4420-bba3-5bf3332fcd8d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1520,
        288
      ],
      "id": "081adb3e-bb9f-4cfb-91e0-0b6b8e6c0746",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed670166-1a7b-4eb5-b4a5-b653a67eb10d",
              "leftValue": "={{ $json['Message ID'] }}",
              "rightValue": "={{ $('Get Rows').item.json['Meaasage ID'] }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        368
      ],
      "id": "96c27ec5-5697-4b84-9868-9e51d77a3691",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2048,
        768
      ],
      "id": "dde8a079-15e5-4e94-9f57-058012d7fe7c",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "content": "# Response Generator",
        "height": 96,
        "width": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2192,
        352
      ],
      "typeVersion": 1,
      "id": "f09695e1-e250-4768-8941-88fadeae0f9c",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7cd68dd2-0d7b-4ae6-860a-e056f4641203",
              "name": "First Name",
              "value": "={{ $('Get Rows').item.json.Firstname }}",
              "type": "string"
            },
            {
              "id": "397928ce-324f-437b-8085-4beb123cb4e2",
              "name": "Last Name",
              "value": "={{ $('Get Rows').item.json.Lastname }}",
              "type": "string"
            },
            {
              "id": "d9c0a88d-b9d8-46f2-8ed3-651514969ce1",
              "name": "Email",
              "value": "={{ $('Get Rows').item.json.Email }}",
              "type": "string"
            },
            {
              "id": "959f896e-242d-48be-995f-b946233277c9",
              "name": "Company Name",
              "value": "={{ $('Get Rows').item.json['Company Name'] }}",
              "type": "string"
            },
            {
              "id": "52eba5dd-56bd-4882-b563-c716512d031e",
              "name": "Status",
              "value": "={{ $('Get Rows').item.json.Status }}",
              "type": "string"
            },
            {
              "id": "68ea5f62-5072-4920-aa59-79b3713989e2",
              "name": "Next Mail Date",
              "value": "={{ $('Get Rows').item.json['Follolw Up Date'] }}",
              "type": "string"
            },
            {
              "id": "67e89af0-d49a-42f6-bd02-2709de657b53",
              "name": "Thread ID",
              "value": "={{ $json.messages[0].threadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        128
      ],
      "id": "9c19db2f-abb6-4b41-9e69-d301e54c1830",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"\",\n  \"message\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1872,
        -1280
      ],
      "id": "2fa3faee-7e68-4407-af0e-18f9a376568d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        -1280
      ],
      "id": "85ef60bf-6269-49c4-adb6-60dc3106adda",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Owner Name: {{ $json['Firstname'] }}\nCompany Name:{{ $json['Company Name'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an AI email agent. Your only job is to create a professional, persuasive email introducing our AI-powered chatbots and voice agents to a potential client.\n\n## Context\n- Input will include: Company Name and Owner Name.  \n- Our service: AI chatbots and voice agents that answer customer queries 24/7 and capture leads even after business hours.  \n- Goal: Persuade the client to become interested in our service.  \n\n## Instructions\n1. Write a professional email with a clear subject and message.  \n2. Personalize the email using the Company Name and Owner Name.  \n3. Highlight the benefits of our service: 24/7 customer support, instant query handling, and more leads.  \n4. Keep it concise, persuasive, and polite.  \n5. End with a clear call-to-action (e.g., schedule a quick demo).  \n6. Return the output strictly as **valid JSON** with exactly two fields: `subject` and `message`.  \n7. Do not include markdown, explanations, or formatting outside the JSON.  \n\n## Example\n- Input: Company Name = \"Bright Motors\", Owner Name = \"Alex Warner\"  \n- Output:\n```json\n{\n  \"subject\": \"Help Bright Motors capture more leads with 24/7 AI support\",\n  \"message\": \"Hi Alex,\\n\\nI admire how Bright Motors has been leading in providing premium electric vehicles. One common challenge dealerships face is staying connected with potential buyers outside of regular hours. Our AI-powered chatbots and voice agents can solve this by engaging with customers instantly, answering questions around the clock, and capturing valuable leads even after your team has signed off.\\n\\nI’d love to show you how Bright Motors could boost customer satisfaction and close more deals with this solution. Would you be open to a quick 12-minute demo this week?\\n\\nBest regards,\\nProvelopers\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1680,
        -1504
      ],
      "id": "955586a2-a7b5-4bc1-b494-26cc949e181f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"\",\n  \"message\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        -912
      ],
      "id": "a1222bfa-db96-4e33-b1da-b708d06f66e3",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1632,
        -912
      ],
      "id": "67965105-8f59-4f30-8889-d4db30b8aaad",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Owner Name: {{ $json['Firstname'] }}\nCompany Name:{{ $json['Company Name'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an AI email agent. Your only job is to create a professional, persuasive first follow-up email introducing our AI-powered chatbots and voice agents to a potential client.\n\n## Context\n- Input will include: Company Name and Owner Name.  \n- Our service: AI chatbots and voice agents that answer customer queries 24/7 and capture leads even after business hours.  \n- Goal: Remind the client about our service and encourage them to engage.  \n\n## Instructions\n1. Write a professional **first follow-up** email with a clear subject and message.  \n2. Personalize the email using the Company Name and Owner Name.  \n3. Reference the previous email politely, and restate the value of our service.  \n4. Highlight the benefits: 24/7 customer support, instant query handling, and more leads.  \n5. Keep it concise, persuasive, and polite.  \n6. End with a clear call-to-action (e.g., schedule a quick demo).  \n7. Return the output strictly as **valid JSON** with exactly two fields: `subject` and `message`.  \n8. Do not include markdown, explanations, or formatting outside the JSON.  \n\n## Example\n- Input: Company Name = \"Bright Motors\", Owner Name = \"Alex Warner\"  \n- Output:\n```json\n{\n  \"subject\": \"Following up: Helping Bright Motors boost customer engagement\",\n  \"message\": \"Hi Alex,\\n\\nI wanted to follow up on my earlier note about how Bright Motors could benefit from AI-powered chatbots and voice agents. Many dealerships find that missed inquiries outside of working hours result in lost leads — and that’s exactly where our solution helps.\\n\\nBy handling customer questions 24/7 and capturing leads automatically, our AI agents ensure Bright Motors never misses an opportunity to connect with potential buyers.\\n\\nWould you be open to a quick 12-minute demo to explore how this could work for your team?\\n\\nBest regards,\\nProvelopers\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1680,
        -1120
      ],
      "id": "f7755ba4-2fa2-4e80-a943-555ca02f40f5",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"\",\n  \"message\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        -560
      ],
      "id": "65b9ac7a-0cbc-47a7-aeb1-022b0a5c1647",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        -544
      ],
      "id": "f87ee5a0-1ce8-4594-8220-1d5daaaaa7cd",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Owner Name: {{ $json['Firstname'] }}\nCompany Name:{{ $json['Company Name'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an AI email agent. Your only job is to create a professional, persuasive second follow-up email introducing our AI-powered chatbots and voice agents to a potential client.\n\n## Context\n- Input will include: Company Name and Owner Name.  \n- Our service: AI chatbots and voice agents that answer customer queries 24/7 and capture leads even after business hours.  \n- Goal: Re-engage the client by reinforcing value, adding urgency, and showing credibility.  \n\n## Instructions\n1. Write a professional **second follow-up** email with a clear subject and message.  \n2. Personalize the email using the Company Name and Owner Name.  \n3. Acknowledge that this is a follow-up and politely remind them of the benefits.  \n4. Add social proof, competitive advantage, or ROI-focused messaging to increase credibility.  \n5. Keep it concise, persuasive, and polite.  \n6. End with a clear call-to-action (e.g., schedule a quick demo).  \n7. Return the output strictly as **valid JSON** with exactly two fields: `subject` and `message`.  \n8. Do not include markdown, explanations, or formatting outside the JSON.  \n\n## Example\n- Input: Company Name = \"Bright Motors\", Owner Name = \"Alex Warner\"  \n- Output:\n```json\n{\n  \"subject\": \"See how top dealerships boost sales with AI support\",\n  \"message\": \"Hi Alex,\\n\\nI know your time is valuable, but I wanted to follow up again because companies like Bright Motors are in a great position to benefit from AI-powered customer support. Businesses using our chatbots and voice agents typically see a 20–30% increase in qualified leads within the first few months.\\n\\nBy engaging customers instantly and capturing leads around the clock, our solution helps ensure no potential buyer slips away.\\n\\nWould you be open to a short 12-minute demo this week to see how Bright Motors could achieve similar results?\\n\\nBest regards,\\nProvelopers\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1680,
        -752
      ],
      "id": "fc8ece03-7e8b-45de-a022-2ba533715374",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"\",\n  \"message\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1888,
        -144
      ],
      "id": "6499f4fd-06c4-4440-be04-cb43df2e98ab",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        -144
      ],
      "id": "20bb05c6-582c-4e2f-991b-be36e01bc3a1",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Owner Name: {{ $json['Firstname'] }}\nCompany Name:{{ $json['Company Name'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an AI email agent. Your only job is to create a professional, persuasive third (and final) follow-up email introducing our AI-powered chatbots and voice agents to a potential client.\n\n## Context\n- Input will include: Company Name and Owner Name.  \n- Our service: AI chatbots and voice agents that answer customer queries 24/7 and capture leads even after business hours.  \n- Goal: Make one last polite attempt to engage the client, showing genuine interest without being pushy.  \n\n## Instructions\n1. Write a professional **third follow-up** email with a clear subject and message.  \n2. Personalize the email using the Company Name and Owner Name.  \n3. Acknowledge that this is your final outreach and keep the tone friendly and respectful.  \n4. Highlight the key benefit: 24/7 customer engagement and lead capture.  \n5. Offer one last opportunity to connect (e.g., quick demo, short call).  \n6. Keep it concise, persuasive, and polite.  \n7. Return the output strictly as **valid JSON** with exactly two fields: `subject` and `message`.  \n8. Do not include markdown, explanations, or formatting outside the JSON.  \n\n## Example\n- Input: Company Name = \"Bright Motors\", Owner Name = \"Alex Warner\"  \n- Output:\n```json\n{\n  \"subject\": \"Final follow-up: Helping Bright Motors stay connected 24/7\",\n  \"message\": \"Hi Alex,\\n\\nI realize I’ve reached out a few times already, so I’ll keep this brief. I genuinely believe Bright Motors could benefit from our AI-powered chatbots and voice agents — ensuring customers get instant answers and that valuable leads are captured, even after business hours.\\n\\nIf now isn’t the right time, no worries at all. But if you are curious, I’d be glad to schedule a quick 12-minute demo to show how this could support your team.\\n\\nEither way, I wish Bright Motors continued success.\\n\\nBest regards,\\nProvelopers\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1680,
        -368
      ],
      "id": "b27d205b-cd3a-417c-8c5a-fe156682cf8b",
      "name": "AI Agent4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Rows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Sending Mail Loop",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Mail Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Mail Date1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Mail Date2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Lead Email": {
      "main": [
        [
          {
            "node": "Update Status & Next Mail Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status & Next Mail Date": {
      "main": [
        [
          {
            "node": "Sending Mail Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status & Next Mail Date1": {
      "main": [
        [
          {
            "node": "Sending Mail Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up 1 EMail": {
      "main": [
        [
          {
            "node": "Update Status & Next Mail Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up 2 Email": {
      "main": [
        [
          {
            "node": "Update Status & Next Mail Date2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status & Next Mail Date2": {
      "main": [
        [
          {
            "node": "Sending Mail Loop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up 3 Email": {
      "main": [
        [
          {
            "node": "Update Status & Next Mail Date3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status & Next Mail Date3": {
      "main": [
        [
          {
            "node": "Sending Mail Loop3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mail Date": {
      "main": [
        [
          {
            "node": "Sending Mail Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mail Date1": {
      "main": [
        [
          {
            "node": "Sending Mail Loop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Mail Date2": {
      "main": [
        [
          {
            "node": "Sending Mail Loop3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sending Mail Loop": {
      "main": [
        [],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sending Mail Loop1": {
      "main": [
        [],
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sending Mail Loop2": {
      "main": [
        [],
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sending Mail Loop3": {
      "main": [
        [],
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Search Reply": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF There's Reply": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Search Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Check Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "IF There's Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "New Lead Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Follow Up 1 EMail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Follow Up 2 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Follow Up 3 Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  },
  "versionId": "17ccb45d-f89a-464f-8501-5c906c7c6f0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "254d173519feb881de883ad084121f2606669bd1f56e577468c2f373c1be5756"
  },
  "id": "cl6DZTfCsmEVU2WJ",
  "tags": [
    {
      "createdAt": "2025-08-22T09:18:34.266Z",
      "updatedAt": "2025-08-22T09:18:34.266Z",
      "id": "hnMyO38j2ruyxDNX",
      "name": "LearningProjects"
    }
  ]
}