RAG Agent w_ Multi - Query Data Retrieval.json
{
  "name": "RAG Agent w/ Multi - Query Data Retrieval",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "19cCndxXZT9kCcH_8oIU22U77y6YWN8sA",
          "mode": "list",
          "cachedResultName": "Jinbe Full Story.docx",
          "cachedResultUrl": "https://docs.google.com/document/d/19cCndxXZT9kCcH_8oIU22U77y6YWN8sA/edit?usp=drivesdk&ouid=111503992318018137190&rtpof=true&sd=true"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        -16
      ],
      "id": "f74dfd82-69bf-44d4-9fcc-2b8cd44bce31",
      "name": "Download file"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "id": "2a5ddcd9-12be-432c-ab44-dbb234296b9a",
      "name": "Embeddings Google Gemini"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        160
      ],
      "id": "a332202c-ec85-4d2b-a1f9-4d71923f125a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        400
      ],
      "id": "c3211234-d601-499c-92ac-432134a54e73",
      "name": "When chat message received",
      "webhookId": "b1d753fd-2769-4244-b777-775260883200"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "## Overview:\nYou are a helpful chatbot assistant who is specially designed for answering queries related to OnePiece Anime. \n\n## Instructions: \n- Look up for Tool \"Supabase Vector Store (Retrieve Document)\" to find the answer of user query.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        400
      ],
      "id": "f15c999f-2896-49df-9dbd-0703cab44bca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -144,
        592
      ],
      "id": "d92c3324-5c55-4548-913f-28d0463552db",
      "name": "Cohere Chat Model"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "onepiece",
          "mode": "list",
          "cachedResultName": "onepiece"
        },
        "options": {
          "queryName": "match_onepiece"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        128,
        -16
      ],
      "id": "49fef2ee-30d2-479e-90df-7690c9243251",
      "name": "Supabase Vector Store (Insert Document)"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look up information related to Onepiece Anime.",
        "tableName": {
          "__rl": true,
          "value": "onepiece",
          "mode": "list",
          "cachedResultName": "onepiece"
        },
        "useReranker": true,
        "options": {
          "queryName": "match_onepiece"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        192,
        544
      ],
      "id": "b560186f-3538-4294-9e66-47750f195e25",
      "name": "Supabase Vector Store (Retrieve Document)"
    },
    {
      "parameters": {
        "content": "# Data Ingestion Pipeline",
        "height": 400,
        "width": 848,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -112
      ],
      "typeVersion": 1,
      "id": "cb27369f-34ed-444b-868f-580c74b3fd97",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Data Retrieval Pipeline ",
        "height": 464,
        "width": 848,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        320
      ],
      "typeVersion": 1,
      "id": "c27e0cd8-e219-4e6e-8c11-6729eb4af81d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        16,
        592
      ],
      "id": "7735ee81-fd00-4be1-9fe0-1f1b69ac73cb",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18j_W48yQkS1Ynf6SxzPa5W3fsgd8jmay",
          "mode": "list",
          "cachedResultName": "OnePiece",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18j_W48yQkS1Ynf6SxzPa5W3fsgd8jmay"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        -16
      ],
      "id": "e4154816-32fc-4eee-899e-c7b0a38753f2",
      "name": "Google Drive Trigger"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        336,
        672
      ],
      "id": "e6903ce3-22b6-4879-beb6-3a3f201f30cd",
      "name": "Reranker Cohere"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a query rewriting assistant. Given the user’s question, \ngenerate four alternative queries for vector search:\n\n1. Semantic Query\n2. Keyword Query\n3. Summary Query\n4. Expanded Query\n\nReturn ONLY valid JSON:\n{\n \"semantic\": \"...\",\n \"keywords\": \"...\",\n \"summary\": \"...\",\n \"expanded\": \"...\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -288,
        912
      ],
      "id": "54840879-2c34-4ef7-9f61-62d70542107c",
      "name": "Query Generator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -320,
        1088
      ],
      "id": "6231a22f-83a3-4109-88f4-0c6546a999a4",
      "name": "Cohere Chat Model1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw LLM output string\nlet raw = $json.output;\n\n// 2. Clean formatting (remove ```json, backticks, weird characters)\nraw = raw\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// 3. Parse the JSON safely\nlet q;\ntry {\n  q = JSON.parse(raw);\n} catch (e) {\n  throw new Error(\"Failed to parse Query Generator output:\\n\" + raw);\n}\n\n// 4. Return four separate queries\nreturn [\n  { query: q.semantic },\n  { query: q.keywords },\n  { query: q.summary },\n  { query: q.expanded }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        912
      ],
      "id": "a8bbe90a-499f-442b-8db4-8e7aba77e28d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        48,
        1104
      ],
      "id": "7e389554-20fc-42bd-87ff-41811e57d11d",
      "name": "Cohere Chat Model2"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        1296
      ],
      "id": "ccf4c309-15a4-4468-8b91-f6f09421a775",
      "name": "Embeddings Google Gemini1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        448,
        1296
      ],
      "id": "102c5406-7300-4e19-b110-78ac2035972b",
      "name": "Reranker Cohere1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        480,
        912
      ],
      "id": "51de6176-4955-4014-9d2a-1fd4fe0a4b9e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        608,
        1104
      ],
      "id": "a6f2f58f-fe63-4270-bbfc-7ccb22546c1d",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this tool to look up information related to Onepiece Anime.",
        "tableName": {
          "__rl": true,
          "value": "onepiece",
          "mode": "list",
          "cachedResultName": "onepiece"
        },
        "useReranker": true,
        "options": {
          "queryName": "match_onepiece"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        288,
        1104
      ],
      "id": "2cf1900c-98f2-4eb2-9cfa-41f1193165e1",
      "name": "Supabase Vector Store (Retrieve Multiple Documents)"
    },
    {
      "parameters": {
        "content": "# Multi - Query Data Retrieval",
        "height": 640,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        816
      ],
      "typeVersion": 1,
      "id": "fae9c4eb-cf9d-4ff0-bc41-3987198d5edb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a redundancy removing Agent. Your job is  to analyze all four responses and remove duplication and generate a single response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        672,
        912
      ],
      "id": "c63dfd7f-027f-49b9-b2b7-362a3a07208a",
      "name": "Remove Duplication"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Query: {{ $json.query }}",
        "options": {
          "systemMessage": "=## Overview:\nYou are a helpful chatbot assistant who is specially designed for answering queries related to OnePiece Anime. \n\n## Instructions: \n- Look up for Tool \"Supabase Vector Store (Retrieve Multiple Document)\" to find the answer of user queries.\n\n- You will receive four queries and you have to generate four seperated responses of those queries by using Tool \"Supabase Vector Store (Retrieve Multiple Document)\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        160,
        912
      ],
      "id": "c88fde21-8502-413a-9b85-8851406d54c0",
      "name": "Response Generator"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store (Insert Document)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store (Insert Document)",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store (Retrieve Document)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store (Insert Document)",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (Retrieve Document)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store (Retrieve Document)",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Query Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Query Generator": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Response Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Response Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store (Retrieve Multiple Documents)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere1": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store (Retrieve Multiple Documents)",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Remove Duplication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Remove Duplication",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store (Retrieve Multiple Documents)": {
      "ai_tool": [
        [
          {
            "node": "Response Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Response Generator": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d52287c4-b16d-479a-a546-3e2b4375087d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83cf903f0fb07939d7b28f2155fe2feda785416b374bc4f4f8641e001e971c03"
  },
  "id": "WM9VE8hEM1PhCyOQ",
  "tags": []
}